* {
    box-sizing: border-box;

}

body {
    background-color: black;
    margin: 0;
}

.main-container {
    width: 1518px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 94%;
    display: flex;
    flex-direction: column;
}

.page-1 {
    background-color: rgb(117, 185, 244);
    height: 703px;
    position: relative;
}

.page-1-1 {
    margin: 0px 113px 0px 113px;
}

.nav-bar {
    display: flex;
    padding-top: 26px;
}

.heading {
    color: rgb(60, 34, 124);
    font-family: Inter, sans-serif;
    font-size: 22px;
    margin-right: 340px;
}

.about {
    border: 0;
    background-color: rgb(117, 185, 244);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(55, 63, 65);
    padding: 5px 18px 0px 18px;
}

.about:hover {
    color: rgb(81, 132, 202);
}

.sign-in {
    border: 0;
    background-color: rgb(117, 185, 244);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-weight: 540;
    color: rgb(11, 71, 156);
    padding: 5px 15px 0px 10px;
    margin-left: 280px;
    width: 90px;
}

.sign-in:hover {
    color: rgb(82, 114, 162);
}

.sign-up {
    border: 0;
    background-color: rgb(247, 60, 107);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    height: 44px;
    width: 90px;
    border-radius: 6px;
}

.sign-up:hover {
    color: rgb(3, 25, 54);
    box-shadow: 1px 1px 2px rgb(104, 8, 32);
}

.page-1-a {
    display: flex;
    margin-top: 70px;
}

.img-1 {
    height: 540px;
    width: 540px;
    margin: 0;
}

.page-1-text {
    width: 500px;
    margin: 70px 0px 0px 112px;
}

.page-1-text-heading {
    font-size: 50px;
    color: rgb(55, 63, 65);
    font-family: Inter, sans-serif;
    margin-bottom: 38px;
    font-weight: bold;
    margin-left: 2px;
}

p {
    margin: 0;
}

.text-1 {
    width: 440px;
    font-size: 17px;
    color: rgb(116, 114, 114);
    font-family: Inter, sans-serif;
    text-align: justify;
    line-height: 23px;
    margin-bottom: 65px;
}

.contact-us {
    border: 1px solid rgb(247, 60, 107);
    background-color: rgb(117, 185, 244);
    color: rgb(247, 60, 107);
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 18px 10px 18px;
}

.contact-us:hover {
    background-color: rgb(247, 60, 107);
    color: white;
}

.page-2 {
    width: 100%;
    height: 760px;
    background-color: white;
}

.icon-1 {
    height: 90px;
    width: 100px;
    margin-top: 45px;
}

.page-2-text-img {
    margin: 0px 113px 0px 113px;
    display: flex;
}

.page-2-text {
    width: 600px;
}

.para:hover {
    color: white;
    background-color: rgb(79, 85, 221);
    font-size: 17px;
    font-family: Inter, sans-serif;
    line-height: 23px;
    padding: 30px;
    margin: 20px 0px 40px 10px;
    border-radius: 15px;
}

.para {
    color: rgb(55, 63, 65);
    font-size: 17px;
    font-family: Inter, sans-serif;
    line-height: 23px;
    padding: 30px;
    margin: 20px 0px 40px 10px;
    border-radius: 15px;
}

.page-2-img {
    height: 450px;
    width: 500px;
    margin: 45px 0px 0px 100px;
}

.page-3 {
    height: 760px;
    background-color: white;
}

.template {
    background-color: rgb(255, 189, 109);
    height: 305px;
    display: flex;
}

.icon-2 {
    height: 74px;
    width: 47px;
    margin-top: 60px;
}

.page-3 {
    width: 100%;
}

.page-3-text {
    margin: 0px 113px 0px 80px;
    display: flex;
}

.p3-text1 {
    font-size: 45px;
    color: rgb(55, 63, 65);
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-top: 60px;
    width: 500px;
}

.p3-text2 {
    font-size: 45px;
    color: rgb(55, 63, 65);
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-top: 60px;
    margin-left: 299px;
    width: 435px;
}

.page-3-2 {
    margin: 60px 113px 0px 130px;
}

.boxes-1 {
    width: 100%;
    display: flex;
}

.boxes1-a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 75%;
}

.box1-a-icon {
    color: pink;
    padding-bottom: 15px;
}

.box1-a-text {
    width: 250px;
    font-size: 17px;
    color: rgb(43, 41, 41);
    font-family: Inter, sans-serif;
    line-height: 23px;
}

.boxes1-b {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 25%;
}

.box1-b-icon {
    color: rgb(168, 175, 244);
    padding-bottom: 15px;
}

.boxes-2 {
    margin: 80px 0px 80px 0px;
    display: flex;
    width: 100%;
}

.boxes2-a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 25%;
}

.box2-a-icon {
    height: 22px;
    width: 25px;
    margin-bottom: 15px;
}

.box2-b-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 15px;
}

.boxes2-b {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 25%;
}

.boxes2-c {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 25%;
}

.boxes2-d {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 25%;
}

.page-4 {
    height: 505px;
    background-color: white;
}

.page-4-1 {
    margin: 0px 113px 0px 113px;
    display: flex;
}

.page-4-img {
    width: 423px;
    height: 440px;
    margin: 22px 0px 0px 15px;
}

.icon-7 {
    width: 145px;
    height: 110px;

}

.page-4-text {
    width: 500px;
    margin: 90px 0px 0px 210px;
}

.page-4-text-first {
    font-size: 25px;
    color: rgb(55, 63, 65);
    font-family: Inter, sans-serif;
    margin-bottom: 28px;
    margin-left: 2px;
}

.page-4-text-heading {
    font-size: 50px;
    color: rgb(55, 63, 65);
    font-family: Inter, sans-serif;
    margin-bottom: 33px;
    font-weight: bold;
    margin-left: 2px;
}

.page-5 {
    height: 620px;
    background-color: white;
}

.img-5 {
    width: 1427px;
    height: 590px;
}

.page-5-1 {
    position: relative;
}

.page-5-text-heading {
    font-size: 36px;
    color: rgb(79, 79, 79);
    font-family: Inter, sans-serif;
    margin-bottom: 33px;
    font-weight: bold;
    margin-left: 2px;
    width: 600px;
    line-height: 56px
}

.page-5-text {
    position: absolute;
    top: 250px;
    left: 118px;
}

.subscribe-detail {
    display: flex;
    margin-top: 0px;
    padding: 0;
}

.subscribe-button {
    border: 0;
    background-color: rgb(247, 60, 107);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    margin-top: 0;
    margin-left: 25px;
}
.subscribe-button:hover{
    filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
}

.email {
    width: 275px;
    height: 40px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
    padding: 10px 15px 10px 15px;
}

.page-6 {
    height: 665px;
    background-color: white;
}

.page-6-1 {
    margin: 0px 114px 0px 113px;
    display: flex;
    height: 190px;
}

.page-6-1-a {
    width: 78%;
}

.page-6-text {
    font-size: 48px;
    color: rgb(35, 36, 42);
    font-family: Inter, sans-serif;
    margin-bottom: 38px;
    font-weight: bold;
    margin-left: 2px;
    width: 700px;
}

.experience-button {
    color: rgb(229, 229, 229);
    font-family: Inter, sans-serif;
    font-size: 23px;
    margin: 30px 33px 0px 30px;
    text-decoration: underline;
}
.experience-button:hover{
    color: rgb(195, 186, 186);
}

.right-arrow {
    margin: 25px 0px 20px 0px;
    font-size: 38px;
    color: rgb(14, 111, 255);
}
.right-arrow:hover{
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
.page-6-2{
    margin: 0px 114px 0px 113px;
    display: flex;
    height: 500px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 430px;
}
.card-1{
    width: 33.33%;
    height: 400px;
    margin: 0px 18px 0px 0px;
    background-color: rgb(255,210,129);
    border-radius: 13px;
    box-shadow: 15px 8px 18px 10px rgb(239,242,246), 0 6px 20px 0 rgb(239,242,246);
}
.card-1-a{
    background-color: white;
    height: 330px;
    border-radius: 13px 13px 0px 0px;
}
.card-1-heading{
    padding: 50px 40px 30px 40px;
    font-size: 45px;
    font-family: Inter, sans-serif;
}
.card-1-para{
    padding: 0px 40px 0px 40px;
    font-size: 16px;
    font-family: Inter, sans-serif;
}
.card-1-b{
    padding: 20px 40px 0px 40px;
    font-size: 22px;
    font-family: Inter, sans-serif;
}
.card-2{
    width: 33%;
    height: 400px;
    margin: 0px 18px 0px 18px;
    background-color: rgb(140,226,180);
    border-radius: 13px;
    box-shadow: 15px 8px 18px 10px rgb(239,242,246), 0 6px 20px 0 rgb(239,242,246);
}
.card-2-a{
    background-color: white;
    height: 330px;
}
.card-2-heading{
    padding: 50px 40px 30px 40px;
    font-size: 45px;
    font-family: Inter, sans-serif;
}
.card-3{
    width: 33%;
    height: 400px;
    margin: 0px 0px 0px 18px;
    background-color: rgb(255,163,171);
    border-radius: 15px;
    box-shadow: 15px 8px 18px 3px rgb(239,242,246), 0 6px 20px 3px rgb(239,242,246);
}
.card-3-a{
    background-color: white;
    height: 330px;
}
.card-3-heading{
    padding: 50px 40px 30px 40px;
    font-size: 45px;
    font-family: Inter, sans-serif;
}
.page-7{
    position: relative;
    background-color: white;
    height: 630px;
}

.icon-8-1{
    position: absolute;
    right: 60px;
    top: 30px;
    width: 140px;
    height: 74px;
}
.page-7-1{
    height: 58px;
}
.page-7-2{
    background-color: rgb(255,210,129);
    height: 582px;
}
.page-7-2-a{
    padding: 30px 113px 0px 113px;
    display: flex;
    height: 300px;
}
.page-7-para{
    width: 445px;
    text-align: justify;
    font-size: 17px;
    color: rgb(92,88,77);
    font-family: Inter, sans-serif;
    line-height: 25px;
    padding-top: 20px;
}
.heading-last{
    font-size: 18px;
    font-family: Inter, sans-serif; 
    color: rgb(129, 99, 48);
    margin-top: 30px;
    margin-bottom: 20px;
}
.page-7-2-a-2{
    margin-left: 170px;
}
.page-7-2-a-3{
    margin-left: 140px;
}
.page-7-2-para{
    width: 10px;
    text-align: justify;
    font-size: 17px;
    color: rgb(92,88,77);
    font-family: Inter, sans-serif;
    line-height: 25px;
    padding-top: 20px;
    margin: 0;
}
.page-7-2-a2-para{
    width: 120px;
    text-align: justify;
    font-size: 17px;
    color: rgb(92,88,77);
    font-family: Inter, sans-serif;
    line-height: 25px;
    padding-top: 20px;  
}
.page-7-2-a3-para{
    width: 90px;
    text-align: justify;
    font-size: 17px;
    color: rgb(92,88,77);
    font-family: Inter, sans-serif;
    line-height: 25px;
    padding-top: 20px;  
}
.templates{
    border: 0;
    font-size: 17px;
    font-family: Inter, sans-serif;
    color: rgb(92,88,77);
    background-color: rgb(255,210,129);
    padding: 0;
}
.templates:hover{
    color: rgb(49, 47, 40);
}
.page-7-2-a-4{
    margin-left: 80px;
}
.page-7-2-b{
    padding: 0px 113px 0px 113px;
    display: flex;
    height: 40px;
}
.blank{
    width: 880px;
}
.city{
    height: 30px;
    width: 100px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: rgb(16,13,8);
    font-weight: 540;
    padding: 0px 0px 0px 10px
}
.city1{
    height: 30px;
    width: 150px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: rgb(16,13,8);
    padding: 0px 0px 0px 20px
}
.tag {
    border-top: 1.5px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 0px 113px 0px 113px;
    padding: 0px 113px 0px 113px;
}
.last-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 49px;
}
.last-icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    height: 100px;
}
.footer{
    display: flex;
    margin-top: 30px;
}
.rights{
    display: flex;
    margin-left: 113px;
    width: 68%;
}
.rights-icon{
    color: rgb(151, 139, 118);
}
.rights-text{
    color: rgb(151, 139, 118);
    font-family: Inter, sans-serif;
    font-size: 19px;
}
.terms{
    color: rgb(119, 105, 81);
    font-family: Inter, sans-serif;
    font-size: 19px;
}
.icon-8{
    width: 130px;
    height: 95px;
    position: absolute;
    top: 410px;
    left: 15px;
}
.icon-9{
    height: 65px;
    width: 85px;
    position: absolute;
    right: 75px;
    bottom: 90px;
}

